body {
    /* background-color:  */
    background-image: linear-gradient( aliceblue,  #96ceff);
}

.jumbotron {
    background-color: maroon;
}

.bg-header, #submit {
    background-color:blueviolet;
}

.del {
    height: 20px;
}